.error__icon {
    width: 100%;
    height: 350px;
    margin: 0 auto 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.error__message {
    height: 16px;
    margin: 10px auto;
    text-align: center;
}
