.hero {
    position: relative;
    height: 100%;
    min-height: 80dvh;
    background: url("https://ucarecdn.com/289b3d4e-6b54-43e9-b9a1-403ff8101ace/-/resize/1440x800/")
        no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center left;
    padding: 5rem 1rem;
}

.hero__container {
    max-width: var(--CON-WIDTH);
    margin: 0 auto;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__title {
    margin-block: 1rem;
    font-size: 5em;
    line-height: 75px;
}

.hero__description {
    max-width: 500px;
    font-size: 0.9em;
    line-height: 25px;
    letter-spacing: 1px;
    margin: 0 10px;
}

@media screen and (min-width: 1024px) {
    .hero__title {
        font-size: 7em;
        line-height: 95px;
    }
}

.products {
    padding: 0rem 1rem 5rem;
}

.products__container {
    margin: 0 auto;
    max-width: var(--CON-WIDTH);
}

.products__bestseller {
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products__title {
    letter-spacing: 1px;
}

.products__more-link {
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    width: 100px;
    height: 35px;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 0.95em;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.4s ease-in-out;

    &:hover {
        width: 115px;
        letter-spacing: 4px;
    }
}

.prodcuts__content {
    padding-block: 3rem;
}

.products__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    list-style: none;
    padding: 0;
}

@media screen and (min-width: 500px) {
    .products__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .products {
        padding-block: 2rem 4rem;
    }

    .products__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

.category__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.category__link {
    width: 100%;
    height: 100%;
    min-height: 85vh;

    display: flex;
    align-items: flex-end;
    padding: 3rem;
    text-decoration: none;

    filter: sepia(50%);
    transition: filter 0.4s ease-in-out;

    &:hover {
        filter: sepia(0%);
    }
}

.category__link--men {
    background: url("https://ucarecdn.com/81ffa936-50a1-4af8-a9f5-41017769192c/-/preview/967x999/")
        no-repeat;
    background-size: cover;
}

.category__link--women {
    background: url("https://ucarecdn.com/051ba9d0-8086-4214-9274-8b6f28f69779/-/preview/967x999/")
        no-repeat;
    background-size: cover;
}

.category__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.category__title {
    font-size: 3.5em;
    color: white;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 1px;
}

.category__more-btn {
    width: 100px;
    height: 40px;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
        width: 115px;
        letter-spacing: 2px;
    }
}

@media screen and (min-width: 768px) {
    .category__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
}

@media screen and (min-width: 995px) {
    .category__link {
        min-height: 100dvh;
    }

    .category__title {
        font-size: 6em;
        line-height: 6rem;
    }
}

.about {
    padding: 7rem 1rem;
}

.about__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    margin: 0 auto;
    max-width: var(--CON-WIDTH);
}

.about__header-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.about__title {
    position: static;
    font-size: 3.5rem;
    font-weight: 600;

    line-height: 50px;
}

.about__link {
    width: 150px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 50px;
    color: black;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.4s ease-in-out;

    &:hover {
        width: 175px;
        letter-spacing: 2px;
    }
}

.about__qa {
    margin: 4rem 0;
}

.about__qa-list {
    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about__list-item {
    padding-bottom: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.about__question {
    margin-bottom: 0.8rem;
    line-height: 25px;
    letter-spacing: 0.5px;
    font-size: 1.3rem;
}

.about__answer {
    color: rgb(39, 39, 39);
}

@media screen and (min-width: 1024px) {
    .about__container {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .about__header {
        width: 100%;
    }

    .about__header-content {
        position: sticky;
        top: 8rem;
    }

    .about__title {
        font-size: 5.8rem;
        line-height: 6rem;
        letter-spacing: 5px;
    }

    .about__qa {
        width: 70%;
    }
}

.cta {
    height: 100dvh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.385) 100%),
        url("https://ucarecdn.com/a3e043ad-5298-4eb0-ade3-72d8b5e8bf8e/-/resize/2400x1800/")
            no-repeat;

    background-size: cover;
    background-position: top center;
    overflow: hidden;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.newsletter {
    padding: 6rem 1rem;
}

.newsletter__container {
    max-width: var(--CON-WIDTH);
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.newsletter__details {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 100%;
}

.newsletter__title {
    font-size: 2.8rem;
    line-height: 45px;
    letter-spacing: 2px;
}

.newsletter__description {
    color: black;
    font-weight: 500;
    font-size: 0.95rem;
}

.newsletter__form-email {
    position: relative;
}

#newsletter-email {
    border: 0px;
    border-bottom: 1px solid black;
    width: 100%;
    letter-spacing: 1px;
    padding-inline: 5px 30px;
    font-size: 0.9em;

    &::placeholder {
        text-transform: uppercase;
    }
}

.newsletter__submit {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    background-color: transparent;
    border: none;
    color: rgb(26, 26, 26);
}

.newsletter__img {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .newsletter {
        padding-block: 8rem;
    }
    .newsletter__title {
        font-size: 5.5rem;
        line-height: normal;
    }

    .newsletter__description {
        width: 100%;
        max-width: 400px;
    }
}

@media screen and (min-width: 768px) {
    .newsletter__container {
        flex-direction: row;
    }
}
