.page-not-found {
    /* height: 120vh; */
    padding: 20rem 1.5rem;
}

.page-not-found__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > h1 {
        font-size: 2.2rem;
        text-align: center;
        line-height: 35px;
    }

    p {
        text-align: center;
        margin-top: 1.5rem;
        max-width: 600px;

        &:nth-of-type(2) {
            font-size: 0.85rem;
        }
    }

    a {
        margin-block: 1rem;
        background-color: black;
        width: 200px;
        padding-block: 8px;
        border-radius: 50px;
        color: white;
        text-decoration: none;
        text-align: center;
        transition: all 0.4s ease-in-out;
        font-weight: 700;

        &:hover {
            transform: scaleX(1.15);
        }
    }
}
